/.gradle/
/build/
/scripts/
/secring.gpg
/.settings/
/bin/
/\.dfx/
/build-export.gradle
/gradle.properties
/DEPLOY.md
.DS_Store
.classpath
.project
src/test/java/org/ic4j/agent/test/TradingListing.java
src/test/java/org/ic4j/agent/test/TradingOffer.java
src/test/java/org/ic4j/agent/test/TradingOfferType.java
src/test/java/org/ic4j/agent/test/TradingOfferTypeData.java
src/test/java/org/ic4j/agent/test/TradingService.java
src/test/java/org/ic4j/agent/test/TradingTest.java
.vscode/settings.json
